body
{
    width: 100%;
    height: 100%;
   
}
.menu
{     
    margin: 0 auto;
    width: 96%;
    max-width: 960px;
    height: 50px;
    min-width: 400px;
}

.button
{
    text-decoration: none;
    color: #333333;
    display: inline-block;
    padding: 10px 30px 30px 30px;
    text-align: center;
    font: 300 19px/32px "Georgia";
}

.button:hover
{
    background-color: #098d72;
}

.button.about_me
{
    background: #15a98c;
    color: #f5f5f5;
}

.img_backgr
{
    width: 100%;
    height: 400px;
    min-height: 400px;
}

.content
{   
    position: relative;
    margin: 0 auto;
    width: 96%;
    max-width: 960px;
}

.left_block
{
    float: left;
    width: 33%; 
    max-width: 330px;
}

.img_panda
{
    
    float: left;
    height: 350px;
    width: 33%;
    min-width: 330px;
    margin-top: -190px;
} 

.information
{
    margin-top: 212px;
}

.title
{
    font: 600 24px/32px Open Sans, sans-serif;
    margin-top: 0px;
    color: #15a98b;
    height: 260px;
    min-height: 260px;
}

.block
{
    font: 300 19px/36px Georgia;
    color: #555555;
    margin-left: 20px;
    margin-top: 30px;
}

.authors
{
    margin-bottom: 60px;
}

.right_block
{   
    margin-left: 390px;
    width: 59%;
    min-width: 590px;
    position: absolute;
    margin-top: -134px;
}

.citations
{
    margin-top:  0px;
    color: #f5f5f5;
    font: italic 28px/42px Georgia;
}
 
.author
{
    color: #f5f5f5;
    font: 700 16px/42px Open Sans, sans-serif;
    margin-top: 27px;
}

.name
{
    
    font: 700 48px/48px Open Sans, sans-serif;
    padding-top:  100px;
    color: #333333;
}

.line
{
    margin-top: 34px;
    background-color: #45c3aa;
    width: 57px;
    height: 6px;
    border-radius: 3px;
}

.description
{
    width: 500px;
    font: 400 19px/32px Georgia;
    color: #555555;
    margin-top: 52px;
}

.hobbies
{
    font: 400 36px/42px Open Sans, sans-serif;
    margin-top: 59px;
}

.navigation
{
    font: 400 19px/32px Georgia;
    color: #15a98b;
    line-height: 1;
    margin-top: 59px;
}

.link
{
    color: #15a98b;
    text-decoration: none;
}

.arrow
{
    text-decoration: underline;
}

.arrow:hover
{
    color: #098d72; 
}

.clear
{
    clear: both;
}

/*ФИЛЬМЫ*/

.favorite_film
{
    margin-top: 916px;
    font: 300 36px/42px Open Sans, sans-serif;
    color: #333333;
    margin-bottom: 41px;
}

.main_block_films
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 113px;
}

.img_fastandfurious
{
    height: 190px;
    min-height: 190px;
    width: 28.6%;
    min-width: 286px;
}

.movie_titles
{
    padding-top: 31px;
    font: 700 22px/32px Open Sans, sans-serif;
    color: #333333;
}

.text_films
{
    width: 286px;
    font: 300 16px/28px Georgia;
    color: #555555;
}

.img_irresistible
{
    height: 190px;
    width: 286px;
}

.film
{
    float: left;
    width: 300px;
    margin: 0 auto;
}

.img_jackr
{
    height: 190px;
    width: 286px; 
}

.img_mission
{
    height: 190px;
    width: 286px;
}

.button_all_films
{    
    float: left;
    margin-top: 65px;
    width: 220px;
    margin-left: 480px;
    
    
}

.all_films
{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    display: block;
    background-color: #15a98c;
    border-radius: 8px;
    font: 19px/ 50px georgia;
    height: 50px;
}

.write_me
{
    font: 300 36px/42px Open Sans, sans-serif;
    color: #333333;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 89px;
}

.form
{
    text-align: center;
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
}

.registration
{
    width: 560px;
    margin: 0 auto;
    text-align: left;
    font: 300 20px/32px Open Sans, sans-serif;
}

/*input:not([type="radio"]),
select:not([type="radio"])
{
    width: 100%;
    height: 50px;
    border: 2px solid #c9c9c9;
    font: 300 18px/32px Open Sans, sans-serif;
    color: #555555;
    margin-bottom: 32px;
}

input:focus,
textarea:focus
{
    border-color: #15a98c;
}*/

.star
{
    color: red;
}

label
{
    margin-right: 40px;
}

.gender
{
    margin-bottom: 15px;
}

textarea
{
    border: 2px solid #c9c9c9;
    width: 100%;
    height: 150px;
}

.user_message
{
    margin-top: 53px;
}

h5:before,
h5:after 
{
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 200px;
  height: 1px;
  vertical-align: middle;
  background: #c4c4c4;
}

h5:before 
{
  left: -10px;
  margin-left: -50%;
}

h5:after
{
  left: 10px;
  margin-right: -50%;
}

.submit
{
    margin-top: 50px;
    width: 220px;
    height: 50px;
    background: #15a98c;
    font: 300 19px/32px Georgia; 
    border-radius: 8px;
    color: #f5f5f5;
}

.input
{
    width: 100%;
    height: 50px;
    border: 2px solid #c9c9c9;
    font: 300 18px/32px Open Sans, sans-serif;
    color: #555555;
    margin-bottom: 32px; 
}

.input:focus,
textarea:focus
{
    border-color: #15a98c;
}

.select_country
{
    width: 100%;
    height: 50px;
    border: 2px solid #c9c9c9;
    font: 300 18px/32px Open Sans, sans-serif;
    color: #555555;
    margin-bottom: 32px;
}







