.main
{
    width: 960px;
    margin: 0 auto;
    height: 100%;
}

.quotes 
{
    margin-left: 60px;
    margin-top: 150px;
}

.citations
{
    margin: 0 auto;
    margin-left: 450px;
    margin-top:  -25px;
    color: #848484;
    font: italic 28px/42px Georgia;
}
 
.author
{
    color: #333333;
    font: 700 16px/42px Open Sans, sans-serif;
    margin-left: 450px;
    margin-top: 27px;
}

.img_panda
{
    float: left;
    height: 350px;
    width: 330px;
    margin-top: 100px;
} 

.name
{
    margin-left: 394px;
    font: 700 48px/48px Open Sans, sans-serif;
    padding-top:  172px;
    color: #333333;
}

.description
{
    width: 570px;
    font: 400 19px/32px Georgia;
    color: #555555;
    margin-left: 390px;
    margin-top: 0px;
}

.information
{
    font: 400 36px/42px Open Sans, sans-serif;
    margin-left: 390px;
    margin-top: 50px;
    margin-bottom: 31px;
}

.title
{
    font: 600 24px/32px Open Sans, sans-serif;
    color: #15a98b;
}

.qualities
{
    font: 400 19px/36px Georgia;
    color: #555555;
    margin-left: 20px;
    margin-bottom: 45px;
    margin-top: 17px;
}

.content
{
    margin-top: -495px;
    width: 390px;
}

.line
{
    margin-top: 34px;
    background-color: #45c3aa;
    margin-left: 393px;
    width: 57px;
    height: 6px;
    border-radius: 3px;
    margin-bottom: 45px;
}

.navigation
{
    font: 400 19px/32px Georgia;
    color: #15a98b;
    line-height: 1;
    margin-top: 59px;
    margin-left: 390px;
}

.link
{
    color: #15a98b; 
    text-decoration: none;
}

.lin
{
    text-decoration: underline;
}

.lin:hover
{
    color: #098d72;  
}

.clear
{
    clear: both;
}











