
.menu
{     
    width: 960px;
    margin: 0 auto;
    height: 50px;
}

.button
{
    text-decoration: none;
    color: #333333;
    display: inline-block;
    padding: 10px 30px 30px 30px;
    text-align: center;
    font: 300 19px/32px "Georgia";
}

.button:hover
{
    background-color: #098d72;
}

.button.about_me
{
    background: #15a98c;
    color: #f5f5f5;
}

.img_backgr
{
    width: 100%;
    height: 400px;
}

.content
{   
    position: relative;
    margin: 0 auto;
    width: 960px;
}

.left_block
{
    float: left;
    width: 330px;
}

.img_panda
{
    
    float: left;
    height: 350px;
    width: 330px;
    margin-top: -190px;
} 

.information
{
    margin-top: 212px;
}

.title
{
    font: 600 24px/32px Open Sans, sans-serif;
    margin-top: 0px;
    color: #15a98b;
    height: 260px;
}

.block
{
    font: 300 19px/36px Georgia;
    color: #555555;
    margin-left: 20px;
    margin-top: 30px;
}

.authors
{
    margin-bottom: 60px;
}

.right_block
{   
    margin-left: 390px;
    width: 590px;
    position: absolute;
    margin-top: -134px;
}

.citations
{
    margin-top:  0px;
    color: #f5f5f5;
    font: italic 28px/42px Georgia;
}
 
.author
{
    color: #f5f5f5;
    font: 700 16px/42px Open Sans, sans-serif;
    margin-top: 27px;
}

.name
{
    
    font: 700 48px/42px Open Sans, sans-serif;
    padding-top:  100px;
    color: #333333;
}

.line
{
    margin-top: 34px;
    background-color: #45c3aa;
    width: 57px;
    height: 6px;
    border-radius: 3px;
}

.description
{
    width: 500px;
    font: 400 19px/32px Georgia;
    color: #555555;
    margin-top: 52px;
}

.hobbies
{
    font: 400 36px/42px Open Sans, sans-serif;
    margin-top: 59px;
}

.navigation
{
    font: 400 19px/32px Georgia;
    color: #15a98b;
    line-height: 1;
    margin-top: 59px;
}

.link
{
    color: #15a98b;
    text-decoration: none;
}

.arrow
{
    text-decoration: underline;
}

.arrow:hover
{
    color: #098d72; 
}

.clear
{
    clear: both;
}

/*ФИЛЬМЫ*/

.favorite_film
{
    margin-top: 916px;
    font: 300 36px/42px Open Sans, sans-serif;
    color: #333333;
}

.main_block_films
{
    
    padding-top: 42px;
    width: 1200px;
}

.img_fastandfurious
{
    height: 190px;
    width: 286px;  
}

.movie_titles
{
    padding-top: 31px;
    font: 700 22px/32px Open Sans, sans-serif;
    color: #333333;
}

.text_films
{
    padding-top: 0px;
    width: 286px;
    font: 300 16px/28px Georgia;
    color: #555555;
}

.img_irresistible
{
    height: 190px;
    width: 286px;
}

.film
{
    float: left;
    /*display: inline-block;*/
    /*vertical-align: top;*/
    width: 300px;
    margin: 0 auto;
}

.img_jackr
{
    height: 190px;
    width: 286px; 
}

.img_mission
{
    height: 190px;
    width: 286px;
}

.button_all_films
{    
    margin-top: 300px;
    width: 220px;
    margin-left: 480px;
}

.all_films
{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    display: block;
    background-color: #15a98c;
    border-radius: 8px;
    font: 19px/ 50px "georgia";
    height: 50px;
}






